/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removing the default arrow */
select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/icons/caret-down-light.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

html,
body {
  max-height: 100% !important;
  height: 100%;
}

input:focus {
  box-shadow: none !important;
}
